go 1.26.2

use (
	../apps-repo/ai/ceerat-agent-service
	../apps-repo/apps/ceerat-admin-ui
	../apps-repo/apps/ceerat-web-ui
	../contracts-repo/packages/ceerat-contracts
	../services-repo/services/ceerat-user-service
)
